appnope==0.1.2
astroid==2.9.3
attrs==21.4.0
backcall==0.2.0
black==22.1.0
category-encoders==2.2.2
click==8.0.3
cloudpickle==2.0.0
cycler==0.11.0
dask==2022.1.0
dask-glm==0.2.0
dask-ml==1.4.0
debugpy==1.5.1
decorator==5.1.1
distributed==2022.1.0
entrypoints==0.3
fsspec==2022.1.0
HeapDict==1.0.1
imbalanced-learn==0.4.3
importlab==0.7
importlib-metadata==4.10.1
ipykernel==6.7.0
ipython==7.31.1
isort==5.10.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jupyter-client==7.1.2
jupyter-core==4.9.1
kiwisolver==1.3.2
lazy-object-proxy==1.7.1
libcst==0.4.1
llvmlite==0.38.0
locket==0.2.1
MarkupSafe==2.0.1
matplotlib==3.1.1
matplotlib-inline==0.1.3
mccabe==0.6.1
missingpy==0.2.0
msgpack==1.0.3
multipledispatch==0.6.0
mypy==0.931
mypy-extensions==0.4.3
nest-asyncio==1.5.4
networkx==2.6.3
ninja==1.10.2.3
numba==0.55.0
numpy==1.21.5
packaging==21.3
pandas==1.3.5
parso==0.8.3
partd==1.2.0
pathspec==0.9.0
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.4.1
prince==0.7.1
prompt-toolkit==3.0.26
psutil==5.9.0
ptyprocess==0.7.0
pyaml==21.10.1
Pygments==2.11.2
pylint==2.12.2
pyparsing==3.0.7
python-dateutil==2.8.2
pytype==2022.1.31
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.9.0
six==1.16.0
sortedcontainers==2.4.0
statsmodels==0.13.1
tabulate==0.8.9
tblib==1.7.0
threadpoolctl==3.0.0
tokenize-rt==4.2.1
toml==0.10.2
tomli==2.0.0
toolz==0.11.2
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typed-ast==1.5.2
typing-extensions==4.0.1
typing-inspect==0.7.1
wcwidth==0.2.5
wrapt==1.13.3
xgboost==1.1.1
zict==2.0.0
zipp==3.7.0
